* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
    font-family: nost;
}
@font-face {
    font-family: nost;
    src: url(NostalgicWhispers-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
.nomao {
    height: 800px;
    background-image: url(img/nomeBonito.png);
    background-size: cover;
}
header {
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.elemento1 {
    height: 800px;
    margin-left:300px;
}
.sobre h2 {
    margin-left: 150px;
    margin-top: 200px;
    text-align: start;
    font-size: 45px;
    color: #90E5E6;
    margin-bottom: 5px;
}
.sobre p {
    margin-left: 150px;
    text-align: start;
    font-size: 20px;
    color: #90E5E6; 
}
#sobre, #favoritos, .favoritos, .infos{
    display: flex;
}
.favoritos h2 {
    margin-left: 153px;
    margin-top: 200px;
    text-align: start;
    font-size: 45px;
    color: #90E5E6;
    margin-bottom: 5px;
}
.favoritos p {
    margin-left: 153px;
    text-align: start;
    font-size: 20px;
    color: #90E5E6; 
}
.elemento3 {
    height: 800px;
   padding-left: 689px;
}
.lugares h2 {
    margin-top: 200px;
    margin-left: 200px;
    text-align: start;
    font-size: 45px;
    color: #90E5E6;
}

.lugares p {
    text-align: center;
    margin-left: 850px;
    margin-top: 50px;
    text-align: start;
    font-size: 45px;
    color: #90E5E6; 
    text-shadow: 1px 1px 2px white, 0 0 25px #6a72ff, 0 0 5px #008dad;
}
.mais {
    text-align: end;
    font-size: 45px;
    color: #90E5E6;
    margin-top: 400px;
    margin-left: 200px;
    margin-right: 200px;
}
.elemento6 {
    margin-top: 100px;
    height: 700px;
    margin-right: 100px;
}
footer{
    padding-left: 70px;
    margin-top: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header {
    padding-right: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#opcoes {
    width: 150px;
    font-size: 25px;
    color: #90E5E6;
    align-content: space-around;
}
#contato {
    width: 200px;
    font-size: 25px;
    color: #90E5E6;
    align-content: space-around;
}
.botoes {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.saiba {
    height: 35px;
    width: 250px;
    background-color: #90E5E6;
    border-radius: 17.5px;
    box-shadow: white;
    font-size: 15px;
    color: black;
    justify-content: center;
    align-content: center;
    margin-top: 7px;
    margin-left: 150px;
    transition: box-shadow 0.3s ease;
}
.saiba:hover {
    box-shadow: rgba(105, 220, 235, 0.734) 0px 38px 90px 0px;
}
#saiba {
    text-decoration: none;
    background-color: #90E5E6;
    color: black;

}
#santos {
    width: 300px;
}